$color: #0cf;

.navbar {
  width: 100%;
  background-color: #fafafa;
  padding: 20px 10px;
  box-sizing: border-box;

  ul {
    display: flex;
    margin: 0 auto;
    max-width: 960px;
    align-items: center;
  }
  .title {
    margin-right: auto;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.2em;

    @media (min-width: 800px) {
      display: block;
    }
  }

  a {
    color: #333;
    text-decoration: none;
  }

  .navUserName {
    padding: 5px 15px;
    border-radius: 10px;
    margin-right: 30px;
    color: black;
    font-size: 1rem;

    @media (min-width: 800px) {
      font-size: 1.3rem;
    }
  }

  .btnContainers {
    display: flex;
    gap: 10px;
    .loginBtn {
      @media (min-width: 800px) {
        display: block;
      }
    }
  }
}
