.background {
  background-image: url('../../imgs/business.jpg');
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: -10;

  @media (min-width: 1000px) {
    background-image: url('../../imgs/business.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(1px) saturate(0.3);
  }
}
