.container {
  display: flex;
  width: 100vw;
  margin: 60px auto 0 auto;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
  align-items: center;
  justify-content: center;
  animation-name: fadeIn;
  animation-duration: 1s;
  @media (min-width: 800px) {
    width: 500px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
